<div class="col-12 p-0 tw-relative">

    <ngx-spinner bdColor="rgba(0,0,0,0.3)" color="#fff" type="ball-clip-rotate-multiple" size="large" [fullScreen]="false">
        <p style="color: white;margin-top: 30px;">Loading Datas...</p>
        <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
    </ngx-spinner>
    <p-messages></p-messages>
    <p-toast></p-toast>

    <div class="grid col-12 p-0  tw-w-full">

        <div class="col-12 w-full">

            <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-3 gap-3">

                <div class="flex align-items-center">
                    <!-- <img src="assets/demo/images/avatar/profile.jpg" width="64" alt="profile"
                        class="border-circle border-2 border-primary flex-shrink-0" /> -->
                        <div class="tw-ml-4">
                            <div class="flex tw-flex-col">
                                <div class="flex flex-wrap gap-x-3 mb-1">
                                    <div class="font-bold text-gray-600 mr-2"> AN :</div>
                                    <div class="mr-4"> {{patientInfo.an}}</div>
                                    <div class="font-bold text-gray-600 mr-2"> HN :</div>
                                    <div class="mr-2"> {{patientInfo.hn}}</div>
                                </div>
                                <div class="flex flex-wrap gap-x-3 mb-1">
                                    <div class="font-bold text-gray-600 mr-2"> ชื่อ-สกุล :</div>
                                    <div class="mr-4"> {{patientInfo.title}}{{patientInfo.fname}} {{patientInfo.lname}}</div>
                                    <div class="font-bold text-gray-600 mr-2"> เพศ :</div>
                                    <div class="mr-4"> {{patientInfo.gender}}</div>
                                    <div class="font-bold text-gray-600 mr-2"> อายุ :</div>
                                    <div class="mr-4"> {{patientInfo.age | thaiage }}</div>
                                    <div class="font-bold text-gray-600 mr-2"> อาชีพ :</div>
                                    <div class="mr-4"> {{patientInfo.occupation}}</div>
                                </div>
                                <div class="flex flex-wrap gap-x-4 mb-1">
                                    <div class="font-bold text-gray-600 mr-2"> ที่อยู่ :</div>
                                    <div class="mr-4"> {{patientInfo.address}}</div>
                                    <div class="font-bold text-gray-600 mr-2"> เบอร์โทร :</div>
                                    <div class="mr-4"> {{patientInfo.phone}}</div>
                                </div>
                                <div class="flex flex-wrap gap-x-4 mb-1">
                                    <div class="font-bold text-gray-600 mr-2"> สิทธิการรักษา :</div>
                                    <div class="mr-4"> {{patientInfo.inscl_name}}</div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="flex flex-wra align-content-center gap-3 tw-mr-10">
                    <div class="flex flex-wrap justify-content-end tw-mt-3">
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-arrow-left" type="button" label="" pTooltip="ย้อนกลับ" tooltipPosition="top"
                                class="p-button-danger" (click)="backPage()"></button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="surface-section px-4">
            <div class="font-bold text-xl text-800 mb-3">ข้อมูลการเจ็บป่วย </div>
            <div class="grid nogutter">
                <div class="col-12 p-2">
                    <div class="border-top-2 border-blue-600 mb-2"></div>
                    <div class="flex flex-col" *ngFor="let x of dataSetReview">
                        <div class="flex tw-flex-col mb-5">
                            <div class="mr-2 mb-1">
                                <span class="font-bold">CC :</span>
                                    {{x.chief_complaint}}
                            </div>
                            <div class="mr-2 mb-1">
                                <span class="font-bold">PE :</span>
                                {{x.physical_exam}}
                            </div>
                            <div class="mr-2 mb-1">
                                    <span class="font-bold"> Diag text :</span>
                                    {{preDiag}}
                            </div>
                            <div class="mr-2 mb-1">
                                    <span class="font-bold"> BT :</span>
                                    {{x.body_temperature}} °C.
                                    <span class="font-bold ml-2"> BW :</span>
                                    {{x.body_weight}} kg. 
                                    <span class="font-bold ml-2"> HT :</span>
                                    {{x.body_height}} cm.
                                    <span class="font-bold ml-2"> Waist :</span>
                                    {{x.waist}} cm. 
                                    <span class="font-bold ml-2"> BP :</span>
                                    {{x.systolic_blood_pressure}}/{{x.diatolic_blood_pressure}} mmHg
                                    <span class="font-bold ml-2"> PR :</span>
                                    {{x.pulse_rate}}/min
                                    <span class="font-bold ml-2"> RR :</span>
                                    {{x.respiratory_rate}}/min
                                    <span class="font-bold ml-2"> O2Sat :</span>
                                    {{x.oxygen_sat ? x.oxygen_sat:'-'}} %
                            </div>
                            <div class="flex flex-wrap gap-x-4 mr-2 mb-1">
                                    <div class="font-bold mr-1"> Doctor By :</div>
                                    <div> {{doctorBy}}</div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="grid grid-cols-12 md:grid-cols-6 lg:grid-cols-4 xl:grid-cols-3 gap-4">
                <div>
                    <h5>แพทย์เจ้าของไข้</h5>
                    <span class="p-fluid">
                        <p-autoComplete [(ngModel)]="selectedItemsDoctor" [dropdown]="true" [forceSelection]="true"
                            [suggestions]="filteredItemsDoctors" (completeMethod)="filterItemsDoctors($event)"
                            field="fname" placeholder="เลือกแพทย์" autocomplete="off"  (onSelect)="onSelecteDoctor($event)"
                            class=" p-inputtext-sm tw-h-3 tw-rounded-s"></p-autoComplete>
                    </span>
                </div>
                <div>
                    <h5>เลือกตึกผู้ป่วย</h5>
                    <span class="p-fluid">
                        <p-autoComplete [(ngModel)]="selectedItemsWards" [dropdown]="true" [forceSelection]="true"
                            [suggestions]="filteredItemsWards" (completeMethod)="filterItemsWards($event)" 
                            field="name"
                            placeholder="เลือกตึกผู้ป่วย" autocomplete="off" (onSelect)="onSelectedWard($event)"
                            class=" p-inputtext-sm tw-h-3 tw-rounded-s"></p-autoComplete>
                    </span>

                </div>
                <div>
                    <h5>เลือกเตียง</h5>
                    <span class="p-fluid">
                        <p-autoComplete [(ngModel)]="selectedItemsBeds" [dropdown]="true" [forceSelection]="true"
                            [suggestions]="filteredItemsBeds" (completeMethod)="filterItemsBeds($event)"                           
                            field="namebed"
                            placeholder="เลือกเตียง" autocomplete="off" (onSelect)="onSelectedBed($event)"
                            class=" p-inputtext-sm tw-h-3 tw-rounded-s"></p-autoComplete>                          
                    </span>
                </div>




            </div>
            <!-- <div class="col-12 md:col-6 lg:col-4 xl:col-3">
                <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Select a City" [showClear]="true"></p-dropdown>
                
            </div>
            <div class="col-12 md:col-6 lg:col-4 xl:col-3">
                <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Select a City" [showClear]="true"></p-dropdown>
                
            </div>
            <div class="col-12 md:col-6 lg:col-4 xl:col-3">
                <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Select a City" [showClear]="true"></p-dropdown>
                
            </div> -->

            <div class="flex flex-wrap gap-2 mt-4 justify-content-center">
                <button pButton pRipple type="button" class="tw-w-32" label="บันทึก"  [disabled]="!is_select_register"
                   (click)="saveRegister()" ></button>

                <button pButton pRipple type="button"  label="ยกเลิก" class="p-button-secondary tw-w-32" (click)="backPage()" ></button>
            </div>
        </div>
    </div>
</div>